/*
 * Fonts
 */
/* league-spartan-100 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/league-spartan-v11-latin_latin-ext-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-200 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/league-spartan-v11-latin_latin-ext-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/league-spartan-v11-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/league-spartan-v11-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/league-spartan-v11-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/league-spartan-v11-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/league-spartan-v11-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-800 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/league-spartan-v11-latin_latin-ext-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-900 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/league-spartan-v11-latin_latin-ext-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*
 * Globals
 */
.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo {
    
    margin: 0 10px;
}

.name-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgba(69, 172, 243, 0.9);
}

.main-gif {
    max-height: 60%;
    max-width: 90%;
    margin: 20px;
}

.project-thumbnail {
    max-height: 5rem;
    max-width: 100%;
    height: auto;
}

.project-link a {
    text-decoration: none;
    color: black;
}

.project-link {
    border-radius: 7px;
    padding: 30px 10px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

.project-link:hover {
    border-color: #9ecaed;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
    font-family: "League Spartan";
    background-color: white;
}

.lead {
    margin-top: 20px;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav {
    margin-bottom: 25px;
}

.nav-masthead .nav-link {
    font-size: 1.2rem;
  color: rgba(25, 25, 25, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(63, 169, 245, 1.0);
  border-bottom-color: rgba(63, 169, 245, 0.15);
}

/*
 * Profile Images
 */

/* Ensure that the profile images are cropped in hexagons */
.hexagon {
    position: relative;
    width: 150px;  /* Adjust size of the hexagon */
    height: 150px;
    margin: 0 auto;
    -webkit-clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden; /* Prevent image from overflowing */
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures that the image is contained within the hexagon without distortion */
}

/* Optionally reduce the size of the profile images */
.team-member h4 {
    font-size: 1.2em; /* Adjust the size of the team member name */
    margin-top: 10px;
}

.team-member .description {
    font-size: 0.9em; /* Adjust the size of the description */
    line-height: 1.5em; /* Improve readability */
}

/* Fix the team section layout for larger screens */
@media (min-width: 1200px) {
    .cover-container {
        max-width: 90%; /* Adjust container width on large screens */
    }

    .team-section .row > .col-md-4 {
        max-width: 30%; /* Adjust column width */
    }
}



[data-bs-theme="blue"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

.text-highlight {
    color: #492ae8ff;
}

/* Style for the footer and social media icons */
footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Social media icon links */
.social-link {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

/* Optional: Hover effect for the icons */
.social-link img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-link img:hover {
    transform: scale(1.1);  /* Slightly enlarge on hover */
    opacity: 0.8;  /* Add slight opacity on hover */
}

/* Add spacing and alignment for the footer text */
footer p {
    margin-top: 10px;
    font-size: 1rem;
}

footer .text-center {
    text-align: center;
}


/* Corner Triangles */
/* Position the container for triangles in the fixed corners */
.triangle-container {
  position: fixed; /* Fixed positioning, relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Ensure triangles are on top of other content */
  pointer-events: none; /* Ensure triangles don't interfere with user interactions */
}

/* Top-left corner triangles */

/* Triangle 1: 2:1 aspect ratio, top-left corner (bottom) */
.triangle-bottom-tl {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 100px solid #492ae8ff; /* Deep Blue */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* Triangle 2: 1:2 aspect ratio, top-left corner (middle) */
.triangle-middle-tl {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 50px solid #c4ffc2ff; /* Light Green */
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* Triangle 3: 1:1 aspect ratio, top-left corner (top) */
.triangle-top-tl {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 50px solid #f7cc09ff; /* Yellow */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 0px; /* Adjust to stack on top of the other two triangles */
  left: 0px; /* Adjust position for overlap */
}

/* Top-right corner triangles */

/* Triangle 1: 2:1 aspect ratio, top-right corner (bottom) */
.triangle-bottom-tr {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 100px solid #f7cc09ff; /* Yellow */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

/* Triangle 2: 1:2 aspect ratio, top-right corner (middle) */
.triangle-middle-tr {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 50px solid #c4ffc2ff; /* Light Green */
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

/* Triangle 3: 1:1 aspect ratio, top-right corner (top) */
.triangle-top-tr {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 50px solid #492ae8ff; /* Deep Blue */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 0px; /* Adjust to stack on top of the other two triangles */
  right: 0px; /* Adjust position for overlap */
}

/* Bottom-left corner triangles */

/* Triangle 1: 2:1 aspect ratio, bottom-left corner (bottom) */
.triangle-bottom-bl {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-left: 100px solid #492ae8ff; /* Deep Blue */
  border-top: 50px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Triangle 2: 1:2 aspect ratio, bottom-left corner (middle) */
.triangle-middle-bl {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-left: 50px solid #f7cc09ff; /* Yellow */
  border-top: 100px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Triangle 3: 1:1 aspect ratio, bottom-left corner (top) */
.triangle-top-bl {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-left: 50px solid #c4ffc2ff; /* Light Green */
  border-top: 50px solid transparent;
  position: absolute;
  bottom: 0px; /* Adjust to stack on top of the other two triangles */
  left: 0px; /* Adjust position for overlap */
}

/* Bottom-right corner triangles */

/* Triangle 1: 2:1 aspect ratio, bottom-right corner (bottom) */
.triangle-bottom-br {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-right: 100px solid #c4ffc2ff; /* Light Green */
  border-top: 50px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Triangle 2: 1:2 aspect ratio, bottom-right corner (middle) */
.triangle-middle-br {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-right: 50px solid #492ae8ff; /* Deep Blue */
  border-top: 100px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Triangle 3: 1:1 aspect ratio, bottom-right corner (top) */
.triangle-top-br {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-right: 50px solid #f7cc09ff; /* Yellow */
  border-top: 50px solid transparent;
  position: absolute;
  bottom: 0px; /* Adjust to stack on top of the other two triangles */
  right: 0px; /* Adjust position for overlap */
}

