.project-header-img {
    max-height: 8rem;
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.project-p {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
}

.container-fluid {
    background-color: white;/*rgba(69, 172, 243, 0.7);*/
    margin: 0;
    padding: 0;
}

.project-desc {
    margin: 20px 40px;
    color: black;/*white;*/
    text-align: justify;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .project-desc {
        font-size: 1rem;  /* Slightly smaller on mobile */
    }
}

/* Button styles */
.button-row .btn-highlight {
    background-color: rgba(63, 169, 245, 1.0); /* Highlight color */
    border: none; /* No border for simplicity */
    color: white;
    font-weight: bold;
    padding: 8px 16px; /* Adjust padding for smaller buttons */
    border-radius: 4px; /* Slightly rounded corners for a clean look */
    text-transform: uppercase;
    font-size: 0.9rem; /* Adjusted font size */
    transition: background-color 0.3s ease-in-out;
    box-shadow: none; /* No shadow for a flat design */
    
}

.button-row button {
    flex: 1; /* Let buttons grow and take equal width */
    min-width: 100px; /* Ensure a minimum width for buttons */
}

.button-row .btn-highlight:hover {
    background-color: rgba(63, 169, 245, 0.3); /* Darker shade on hover */
}

.button-row button.active {
    background-color: #007bff;  /* Change this to the color you want */
    color: white;               /* Text color */
}

/* Adjust margins and padding for the button row */
.button-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-vis-img {
    min-width: 40vw;
    display: flex;
    padding:5%;
    
    transition: background-color 1.3s ease-in-out; /* Smooth transition on hover */

    background-color: rgba(63, 169, 245, 1.0); 
    /* Apply hexagonal clipping to the image */
    -webkit-clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

.project-vis-img:hover {
    background-color: rgba(45,45,45, 1.0); 
}

.cd-text-highlight {
    color: rgba(63, 169, 245, 1.0);
}


#projectCanvas {
    cursor: none; /* Hide the mouse pointer when hovering over the canvas */
    display: block;
    margin: auto;
    width: 100%; /* Make sure canvas takes up full width of its parent */
    height: auto; /* Keep aspect ratio */
    background-color: transparent;

    /* Apply hexagonal clipping to the image */
    -webkit-clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

/* FADE INs */
/* Base styles for gradual reveal elements */
.gradual-reveal {
  opacity: 0;
  transform: translateY(20px); /* Slightly shifted down */
  transition: opacity 1s ease, transform 0.2s ease; /* Smooth transition */
}

/* When 'animate' class is added, the element will fade in and move up */
.gradual-reveal.animate {
  opacity: 1;
  transform: translateY(0);
}