<footer class="flex-wrap align-items-center py-3 my-4 border-top mt-auto">
    <div class="text-center mb-4">
        <!-- Social Media Links -->
        <a href="https://twitter.com/asterisk_labs" target="_blank" class="social-link">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/1200px-Logo_of_Twitter.svg.png" alt="Twitter" height="32px" />
        </a>
        <a href="https://bsky.app/profile/asterisk-labs.bsky.social" target="_blank" class="social-link">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Bluesky_Logo.svg/2319px-Bluesky_Logo.svg.png" alt="Bluesky" height="32px" />
        </a>
        <a href="https://www.linkedin.com/company/asterisklabs" target="_blank" class="social-link">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1024px-LinkedIn_icon.svg.png" alt="LinkedIn" height="32px" />
        </a>
        <a href="https://github.com/asterisk-labs" target="_blank" class="social-link">
            <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub" height="32px" />
        </a>
    </div>
    <div class="text-center">
        <p>ASTERISK LABORATORIES CO-OPERATIVE LIMITED<br>86-90 Paul Street, London, England, EC2A 4NE</p>
        <a href='https://www.uk.coop/'><img src='/assets/imgs/member-of-coops-uk.png' height='64px' /></a><a href='https://www.workers.coop/'><img src='/assets/imgs/member-of-workers-coop.png' height='64px' /></a>
      <p><a class="fw-bold" href="privacy-policy.html" style='color:black;'>privacy policy</a></p>
    </div>
</footer>