<footer class="flex-wrap align-items-center py-3 my-4 border-top mt-auto">
    <div class="text-center mb-4">
        <!-- Social Media Links -->
        <a href="https://twitter.com/asterisk_labs" target="_blank" class="social-link">
            <img src="/assets/imgs/social/twitter.svg" alt="Twitter" height="32px" />
        </a>
        <a href="https://bsky.app/profile/asterisk-labs.bsky.social" target="_blank" class="social-link">
            <img src="/assets/imgs/social/bluesky.svg" alt="Bluesky" height="32px" />
        </a>
        <a href="https://www.linkedin.com/company/asterisklabs" target="_blank" class="social-link">
            <img src="/assets/imgs/social/linkedin.svg" alt="LinkedIn" height="32px" />
        </a>
        <a href="https://github.com/asterisk-labs" target="_blank" class="social-link">
            <img src="/assets/imgs/social/github.svg" alt="GitHub" height="32px" />
        </a>
    </div>
    <div class="text-center">
        <p>ASTERISK LABORATORIES CO-OPERATIVE LIMITED<br>86-90 Paul Street, London, England, EC2A 4NE</p>
        <a href='https://www.uk.coop/'><img src='/assets/imgs/member-of-coops-uk.png' height='64px' /></a><a href='https://www.workers.coop/'><img src='/assets/imgs/member-of-workers-coop.png' height='64px' /></a>
        <p><a class="fw-bold" href="privacy-policy.html" style='color:black;'>privacy policy</a></p>
    </div>
</footer>